@model MvcTodoAppva.Models.ListItem

@{
    ViewData["Title"] = "Details";
}
<!--
This view describes how the site is to look when looking at the details of a list item.
It was created when scaffolding the ListItem model and then modified by me.
-->

<h2>Details</h2>

<div>
    <h4>List item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DoneDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DoneDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
